body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #d32f2f;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 15px;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}


main {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

h2 {
    color: #d32f2f;
}

.cadastro, .registro, .estoque {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, select, button {
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: #d32f2f;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #b71c1c;
}

/* Controle de Estoque */
.estoque-container {
    margin-top: 10px;
}

.tipo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.tipo span {
    width: 50px;
    font-weight: bold;
}

.barra {
    height: 20px;
    background-color: green;
    margin-left: 10px;
    border-radius: 5px;
}


.etapas {
    text-align: center;
    margin-top: 20px;
    max-width: 1000px; /* Aumenta a largura para acomodar os itens */
    display: flow; /* Ativa o Flexbox */
    justify-content: space-between; /* Distribui os elementos igualmente */
    gap: 20px; /* Espaço entre as etapas */
}

.etapa {
    background-color:white;
    padding: 20px;
    flex: 1; /* Faz com que cada item ocupe o mesmo espaço */
    border-left: 5px solid #d32f2f;
    border-radius: 10px;
    text-align: center; /* Centraliza o texto */
}

footer {
    background-color: #d32f2f;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
